/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a2a2a2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для списка пользователей */
.user-list {
    list-style: none;
    padding: 0;
}

.user-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.user-list li h3 {
    margin-top: 0;
}

.user-list li p {
    margin-bottom: 5px;
    color: #666;
}

/* Стили для заголовков */
h1, h2, h3 {
    color: #4a4d7b;
}

