<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User's Personal Information:</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}'s age: {{ user.age }}, {{ user.username }}'s eye color: {{ user.eye_color }}</li>
        {% endfor %}
    </ul>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</body>
</html>